footer {
    display: flex;
    justify-content: space-between;

    font: 14px/150% var(--font-family);;
    padding-block: 24px;
}

footer ul {
    display: flex;
    gap: 24px;
    list-style: none;
}