header {
    padding-block: 32px;
    font: var(--text-md);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CONFIGURAÇÕES DO PROFILE-MAIN */

#profile-main {
    display: flex;
    gap: 32px;
}

#profile-main > div {
    max-width: 384px;
}

#profile-main h1 {
    font: var(--heading1);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

/* CONFIGURAÇÕES DA UL */

#profile-info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    list-style: none;
    width: 280px;
}

#profile-info li {
    font-family: var(--text-md);

    display: flex;
    align-items: center;
    gap: 8px;
}